In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/words.csv', index_col='Word')

In [3]:
df.head()

        Char Count  Value
Word
aa               2      2
aah              3     10
aahed            5     19
aahing           6     40
aahs             4     29

### Activities

##### How many elements does this dataframe have?

In [4]:
df.shape

(172821, 2)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 172821 entries, aa to zyzzyvas
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Char Count  172821 non-null  int64
 1   Value       172821 non-null  int64
dtypes: int64(2)
memory usage: 4.0+ MB

##### What is the value of the word `microspectrophotometries`?

In [6]:
df.loc["microspectrophotometries"]

Char Count     24
Value         317
Name: microspectrophotometries, dtype: int64

##### What is the highest possible value of a word?

In [7]:
df.sort_values("Value",ascending=False).head(1)

                         Char Count  Value
Word
reinstitutionalizations          23    319

In [8]:
print(f"The highest possible value for a word is {df.sort_values('Value',ascending=False)['Value'].iloc[0]}")

The highest possible value for a word is 319

##### Which of the following words have a Char Count of `7` and a Value of `87`?


glowing, superheterodyne,microbrew,pinfish,enfold

In [9]:
mask1=(df["Char Count"] == 7)
mask2= (df["Value"] == 87)
word_list =["glowing","superheterodyne","microbrew","pinfish","enfold"]
print("The word is : ",end="")
for word in word_list:
    if word in df[mask1 & mask2].index:
        print(word)

The word is : glowing

In [10]:
count7_value87 = [word for word in df[mask1 & mask2].index]
print(f"There are {len(count7_value87)} words where Char Count is 7 and Value is 87")

There are 500 words where Char Count is 7 and Value is 87

##### What is the highest possible length of a word?

In [11]:
df_char_sort = df.sort_values("Char Count",ascending =False).head(3)
df_char_sort

                              Char Count  Value
Word
ethylenediaminetetraacetates          28    287
ethylenediaminetetraacetate           27    268
electroencephalographically           27    269

In [12]:
highest_word_len = df_char_sort['Char Count'].iloc[0]
highest_word = df_char_sort.index[0]
print(f"The highest possible length of a word {highest_word} is {highest_word_len}")

The highest possible length of a word ethylenediaminetetraacetates is 28

##### What is the word with the value of `319`?

In [13]:
m1 = df["Value"] == 319
df[m1]

                         Char Count  Value
Word
reinstitutionalizations          23    319

##### What is the most common value?

In [14]:
df["Value"].value_counts()

93     1965
100    1921
95     1915
99     1907
92     1902
       ...
287       1
291       1
294       1
5         1
278       1
Name: Value, Length: 303, dtype: int64

In [15]:
most_c_value = df["Value"].value_counts().index[0]
number_of_values = df["Value"].value_counts().iloc[0]
print(f"The most common value is {most_c_value} occuring {number_of_values} times")

The most common value is 93 occuring 1965 times

##### What is the shortest word with value `274`?

In [16]:
df.sort_values("Char Count",ascending=True)[df["Value"] == 274]

C:\Users\kbhatnag\AppData\Local\Temp\ipykernel_1340\20757711.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df.sort_values("Char Count",ascending=True)[df["Value"] == 274]

                       Char Count  Value
Word
overprotectivenesses           20    274
countercountermeasure          21    274
psychophysiologically          21    274

In [17]:
df[df["Value"] == 274].sort_values("Char Count",ascending=True)

                       Char Count  Value
Word
overprotectivenesses           20    274
countercountermeasure          21    274
psychophysiologically          21    274

In [18]:
word_s = df[df["Value"] == 274].sort_values("Char Count",ascending=True).index[0]
word_s_char = df[df["Value"] == 274].sort_values("Char Count",ascending=True)["Char Count"].iloc[0]
print(f"The shortest length of the word with the value 274 is {word_s}, its char count is {word_s_char}")

The shortest length of the word with the value 274 is overprotectivenesses, its char count is 20

##### Create a column `Ratio` which represents the 'Value Ratio' of a word

ValueRatio(word) = Value(word) / Char Count(word)

In [19]:
df1=df
df1["Value Ratio"] = df1["Value"]/df1["Char Count"]
df1

           Char Count  Value  Value Ratio
Word
aa                  2      2     1.000000
aah                 3     10     3.333333
aahed               5     19     3.800000
aahing              6     40     6.666667
aahs                4     29     7.250000
...               ...    ...          ...
zymotic             7    111    15.857143
zymurgies           9    143    15.888889
zymurgy             7    135    19.285714
zyzzyva             7    151    21.571429
zyzzyvas            8    170    21.250000

[172821 rows x 3 columns]

##### What is the maximum value of `Ratio`?

In [20]:
df1.sort_values("Value Ratio",ascending=False)

       Char Count  Value  Value Ratio
Word
xu              2     45    22.500000
muzzy           5    111    22.200000
wry             3     66    22.000000
xyst            4     88    22.000000
pyx             3     65    21.666667
...           ...    ...          ...
ab              2      3     1.500000
baba            4      6     1.500000
aba             3      4     1.333333
baa             3      4     1.333333
aa              2      2     1.000000

[172821 rows x 3 columns]

In [21]:
highest_ratio = df1.sort_values("Value Ratio",ascending=False)["Value Ratio"].iloc[0]
highest_ratio_word =df1.sort_values("Value Ratio",ascending=False).index[0]
print(f"Maximum Ratio {highest_ratio}\nMaximum Ratio word {highest_ratio_word}")

Maximum Ratio 22.5
Maximum Ratio word xu

##### What word is the one with the highest `Ratio`?

In [22]:
highest_ratio = df1.sort_values("Value Ratio",ascending=False).iloc[0]["Value Ratio"]
highest_ratio_word =df1.sort_values("Value Ratio",ascending=False).index[0]
print(f"Maximum Ratio {highest_ratio}\nMaximum Ratio word {highest_ratio_word}")

Maximum Ratio 22.5
Maximum Ratio word xu

##### How many words have a `Ratio` of `10`?

In [23]:
r_mask1 = df1["Value Ratio"] == 10
tot_words_10 = df1[r_mask1].shape[0] 
print(f"Number of words having ratio 10 are {tot_words_10}")

Number of words having ratio 10 are 2604

##### What is the maximum `Value` of all the words with a `Ratio` of `10`?

In [24]:
df1[r_mask1].sort_values("Value",ascending=False)

                          Char Count  Value  Value Ratio
Word
electrocardiographically          24    240         10.0
electroencephalographies          24    240         10.0
electroencephalographer           23    230         10.0
phonocardiographic                18    180         10.0
inconceivabilities                18    180         10.0
...                              ...    ...          ...
web                                3     30         10.0
bug                                3     30         10.0
elm                                3     30         10.0
as                                 2     20         10.0
oe                                 2     20         10.0

[2604 rows x 3 columns]

In [25]:
df1[r_mask1].sort_values("Value",ascending=False)["Value"].iloc[0]

240

##### Of those words with a `Value` of `260`, what is the lowest `Char Count` found?

In [26]:
l_mask1 = df1["Value"] == 260
df1[l_mask1].sort_values("Char Count",ascending=True)["Char Count"].iloc[0]

17

##### Based on the previous task, what word is it?

In [27]:
df1[l_mask1].sort_values("Char Count",ascending=True)["Char Count"]

Word
hydroxytryptamine       17
neuropsychologists      18
psychophysiologist      18
revolutionarinesses     19
countermobilizations    20
underrepresentations    20
Name: Char Count, dtype: int64

In [28]:
df1[l_mask1].sort_values("Char Count",ascending=True)["Char Count"].index[0]

'hydroxytryptamine'